.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%; 
    box-sizing: border-box;
    background-color: rgb(35, 35, 35); 
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px 5%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.logo a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
}

.links a {
    color: rgb(200, 200, 200);
    text-decoration: none;
    margin-left: 25px;
    font-weight: 500;
    transition: color 0.3s;
}

.links a:hover {
    color: rgb(138, 43, 226);
}
